 .uno{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	text-decoration: none;
}

.links{
	text-decoration: none;
}
body{
	background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg");
	background-repeat:no-repeat;
background-size:cover;
}
h1{
	color:#56CBF9;
	text-align:center;
}
h2{
	color:#F317D5;
	
	border-bottom: 2px solid black;
}
#Contacto{
	background-color: #AFBED1;
width: 1200px;
height: 150px;
padding: 10px;
font-weight:500;
font-size: 110%;
}
ul{
	list-style: none;
}
i{
	position: relative;left: 450px;
bottom:120px;
padding-left: 50px;
	font-size: 90px
;
}
#experiencia{
	font-weight: 500;
	background-color: #AFBED1;
	width: 1200px;
height: 240px;
padding: 10px;

font-size: 110%;
}
#cards{
	margin-top: 100px;
}

.card-text{
	color:black;
	font-weight: bold;
	font-style: italic;
}
#skills{

display: flex;
	flex-direction: row;

	

}
#html{
	padding-left: 50px;
}
#css{
	padding-left: 50px;
}
#bootstrap{
	padding-left: 50px;
}
#html:hover{
	cursor: pointer;
	transform:	scale(1.05,1.05);
	
}
#css:hover{
	cursor: pointer;
	transform:	scale(1.05,1.05);

}
#bootstrap:hover{
cursor: pointer;
	transform:	scale(1.05,1.05);
}